@import url('../public/styles/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    color: #ddd;
    font-size: 2rem;
    text-align: justify;
}

.container {
    padding: 5rem 30rem;
}

.profile__pic {
    height: 150px;
    border: #ddd 5px solid;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.descricao {
    margin: 2rem 0;
}

.descricao p {
    margin-bottom: 1rem;
}

.redes__container {
    margin: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes__icons {
    height: 100px;
    border: #ddd 3px solid;
    border-radius: 50%;
}

h3 {
    font-weight: 700;
    margin-bottom: 2rem;
}

table {
    margin: 0 auto;;
}

th {
    font-weight: 700;
    vertical-align: middle;
    padding: 0.5rem;
    text-align: center;
}

th:first-of-type {
    border-right: #ddd 2px solid;
    padding-right: 1rem;
}

th:nth-of-type(n+2) {
    border-bottom: #ddd 2px solid;
}

td {
    padding: 0.5rem;
    text-align: center;
    margin: 0 auto;
    transition: all 0.9s ease
}

td a {
    text-decoration: none;
    display: block;
    width: 100%;
}

td a:visited {
    color: inherit;
}

td:hover {
    color: #111;
    background-color: #ddd;
}

footer {
    text-align: center;
    font-size: 3rem;
    margin: 3rem;
}