.input__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.input__container label{
    width: max-content;
}

.input__coordinate {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 2rem;
    text-align: center;
    border-style: solid;
    line-height: 2.5rem;
}

@media screen and (max-width: 760px) {
    .input__coordinate {
        max-width: 30%;
    }
}