.input__container {
    display: flex;
}

.input__temp {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 2rem;
    text-align: center;
    border-style: solid;
    line-height: 2.5rem;
    max-width: 40%;
}

#result::after {
    content: "ºC";
}