header {
    background: linear-gradient(90deg, #111 30%, #f51b1d 50%, #111 80%);
    text-align: center;
    width: 100%;
    height: 20vh;
}

.header__img {
    height: -webkit-fill-available;
    max-width: 100%;
}

@media screen and (max-width: 760px) {
    header {
        height: unset;
    }
}